services:
  spire-pg:
    image: postgres:17.5
    command: -c fsync=off
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=spire
    tmpfs:
      - /var/lib/postgresql
    ports:
      - "9989:5432"
    
  spire-cass:
    container_name: spire-cass
    image: cassandra:5
    ports:
      - "9042:9042"
    environment:
      - no_proxy=
      - http_proxy=
      - https_proxy=
      - HTTP_PROXY=
      - HTTPS_PROXY=
      - NO_PROXY=
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
      - CASSANDRA_CLUSTER_NAME=seamstress
      - CASSANDRA_SNITCH=GossipingPropertyFileSnitch
      - HEAP_NEWSIZE=512M
      - MAX_HEAP_SIZE=4096M
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_DC=localdev
    volumes:
      - cassandra-node-1:/var/lib/cassandra:rw
    restart:
      on-failure
    healthcheck:
      test: ["CMD-SHELL", "nodetool status"]
      interval: 2m
      start_period: 2m
      timeout: 10s
      retries: 3


volumes:
  cassandra-node-1: